/*===========================================
                    GLOBAL
===========================================*/

:root {
    --font-fallback: -apple-system, SF Pro, sans-serif;
    --font-main: 'Montserrat', var(--font-fallback);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    color: #463F3A;
    background-color: #F4F3EE;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    padding-bottom: 0;
}

.main__double-folder {
    display: flex;
    justify-content: space-between;
}

.main__double-folder > section {
    width: calc((100% / 2) - 12.5px);
}

@media screen and (min-width: 1440px) {
    body {
        width: 50%;
        margin: 0 auto;
    }
}